<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Voice Controlled Conversation Recorder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width:device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <script src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>

</head>
<body>

<div class="container">
    <h1>Voice Controlled Analytics App</h1>
    <p class="page-description">An interface to capture the conversation between sales person and customer</p>
    <h3 class="no-browser-support">Sorry, your browser doesn't support the web speech api. Try Opening this in Google
        Chrome.</h3>

    <div class="app">
        <h3>Add conversation</h3>
        <div class="input-single">
            <textarea id="note-textarea" placeholder="Create a new recording by typing or using voice recording."
                      rows="6"></textarea>
        </div>

        <button id="start-record-btn" title="Start Recording">Start Recording</button>
        <button id="pause-record-btn" title="Pause Recording">Pause Recording</button>
        <button id="save-record-btn" title="Save Recording">Save Recording</button>
        <p id="recording-instructions">Press the <strong>Start Recording</strong> button and allow access.</p>
    </div>
</div>
 <script type = "text/javascript"
         src = "{{url_for('static', filename = 'script.js') }}" ></script>
</body>
</html>